.image-placeholder {
    /* position: relative;  */
  }
  
  .image-placeholder img {
    position: absolute; 
    /* bottom: 0;  */
    /* right: 0;  */
    max-width: 100px; 
    height: auto; 
    border-radius: 3rem;
  }